<ion-view title="Menu">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
	  <label class="item item-input">
	    <span class="input-label">Text</span>
	    <input type="text" ng-model="data.username" placeholder="Username" name="username">
	  </label>
	</div>
	<button class="button button-block button-positive" ng-click='submit()'>
	  Submit
	</button>
  </ion-content>
</ion-view>